/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  background-color: rgba(5, 11, 29, 0.9);
  position: relative;
}

/* intestazione */
header{
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left:250px;
}
.logo{
  width: 40px;
  height: auto;
}

/* sezione per scegliere il genre musicale */
.genere-musicale{
  position: absolute;
  top: 100px;
  right: 100px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: lightgrey;
}
.genere-musicale .filtra{
  margin-top: 10px;
}
.genere-musicale .filtra:hover{
  cursor: pointer;
}
.icon-dropdown{
  margin-left: 10px;
}
.icon-dropdown:hover{
  cursor: pointer;
  color: white;
}
.none{
  display: none;
}
.block{
  display: block;
}
.attiva{
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
}

/* main */
main{
  width: 50%;
  height: calc(100vh - 50px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.disco{
  width: calc(100% / 4 - 30px);
  height: 220px;
  background-color: rgba(231, 231, 231, 0.1);
  margin: 5px 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
  font-size: 14px;
}
.disco:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 5px #888888;
  cursor: pointer;
}
.disco img{
  width: 120px;
  height: auto;
  margin-bottom: 5px;
}
.title{
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
  color: white;
}
